:root {
    --main-bg-color: #6c5ce7;
    --black-color: #000;
    --margin:0px;
    --padding: 0px;
    --white-main-color: #fff;
    --dark-grey-color: #1e272e;
    --light-grey: #747474;
    --very-light-grey: #f0f0f0;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--margin);
    padding:var(--padding);
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    width: 100%;
    height: 100vh;
    position: relative;

}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index:1;
    background-color: var(--white-main-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.menu{
    display: flex;
}
nav ul li a{
    
    margin: 3px;
    padding: 1px 22px;
    height: 20px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 1px;
    font-size: 15px;
    color: var(--dark-grey-color);
    
}
nav ul li a:hover{
    background-color: cornflowerblue;
    color: var(--black-color);
    border-radius: 20px;

}
.get-in-touch{
    color:var(--main-bg-color);
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid var(--black-color);
    border-top: 2px solid var(--black-color);
}
.logo-heading{
    font-weight: 200;
    font-size:20px;
}
.name{
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}
/* content. */
.content{
    display: flex;
    width:90%;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    top:50%;
    
    
    
}
.model{
    height: 500px;
    width: 500px;
}
.model img {
    height:100%;
    width:100%;
    object-fit: contain;
}


.main-text h1{
    font-size: 60px;
    margin: 0px 0px 10px 0px;
    line-height:60px;
}

.main-text p{
    color: var(--light-grey);
}

.portfolio-button{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-main-color);
    background-color: var(--main-bg-color);
    border-bottom: 5px;
}
/* Skills Section. */
#skills{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto auto 50px auto;
}

.skill-img{
    width:45%;

}
.skill-img img{
    width: 100%;
    height: 100%;
    object-fit: contain ;
}

.skill-text{
    width: 40%;
}

.skill-heading span{
    color: var(--main-bg-color);
    font-weight: 500;
    text-transform: uppercase;
}

.skill-heading h2{
    color: var(--dark-grey-color);
    font-size: 45px;
    margin: 0px;
    font-weight:600;
    letter-spacing: 1px;
}

.s-box-container{
    margin-top: 15px;
} 

.skill-box{
    display: flex;
    margin:25px 0px;
}

.s-box-icon{
    margin-right: 15px;
}

.s-box-icon i{
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--very-light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-bg-color);
}

.s-box-text strong{
    color: var(--dark-grey-color);
    margin: 0px;
    font-size:15px;
    font-weight: 900;

}

.s-box-text p{
    font-size:15px;
}

/* Projects. */
#my-projects{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto auto 50px auto;
    flex-direction: column;
}

.project-showcase {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.project {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px;

}
.one {
    background-image: url(imgs2/company_1.jpg);
    background-size: contain;

}
.two {
    background-image: url(imgs2/company_2.jpg);
    background-size: contain;

}
.three {
    background-image: url(imgs2/company_3.jpg);
    background-size: contain;

}

.project #hide {
    visibility: hidden;
    background-color: var(--white-main-color) ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    opacity: 100%;
    z-index: 1000%;
}

.project:hover #hide{
    visibility: visible;
    border: 1px solid var(--main-bg-color);

}

.project-text{
    color:var(--dark-grey-color);
    font-size: 18px;
    justify-content: space-evenly;
}
.project-btn {
    background-color: var(--black-color);
    color: var(--white-main-color);
    border: 1px solid (var(--main-bg-color));
    border-radius: 10px;
    padding: 15px;

}

.project-btn :hover {
    background-color: var(--white-main-color);
    color: var(--black-color);
    
}

/* client section. */
#client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto auto 50px auto;
    padding: 50px 0px ;

}

.c-box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.client-box {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
}

.client-box img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--white-main-color);
    object-fit: contain;
    border: 1px solid var(--white-main-color);

}

.star{
    display: flex;
    margin: 10px 0px 0px 0px;
}

.star i {
    color:violet;
    font-size: 20px;
}

.client-box p {
    color: var(--white-main-color);
    font-size: 14px;
    margin: 10px 0px;
    text-align: center;

}

.client-box a {
    width: 190px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-bg-color);
    background-color: var(--white-main-color);
    border-radius: 5px;
    margin-top: 20px;
    border: 1xp solid white;
}

.client-box a:hover {
    color: white;
    background-color: rgb(0, 255, 191);
}

/* Contact Me. */

#contact {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:90%;
    margin: auto auto 50px auto;

}

#contact img {
    width: 500px;
}

.contact-input {
    width: 400px;
    height: 50px;
    background-color: var(--white-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; ;

}

.contact-input input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: var(--dark-grey-color);

}

.contact-input a {
    width:200px;
    height: 40px;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto 10px;

}

footer {
    display: flex;
    justify-content: space-around;
    /* border-top: 1px solid var(--light-grey); */
}

footer p {
    margin: 10px 0px;
    color: var(--dark-grey-color);
    font-size: 16px;
}